<!-- ma nav bar --> 
<header id="bg" style="background-image:url( '../assets/images/home/bg.jpg');">
  <nav id="navbar">
    <div class="logo">
      <a href="logo du site" class="navbar-brand"[routerLink]="['']"><img src="../assets/images/navbar/logo.jpg" alt="logo du site"></a>
    </div>
    <div class="title_h">
      <h1><a class="navbar-brand"[routerLink]="['']">{{title}}</a></h1>
    </div>
    <ul routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <li><a class="nav-item"[routerLink]="['/home']">Accueil</a></li>
      <li><a class="nav-item"[routerLink]="['/Article']">Blog</a></li>
      <li><a class="nav-item"[routerLink]="['/infos']">Infos</a></li>
      <li><a class="nav-item"[routerLink]="['/contact']">Contacte</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>

