
<div class="container">
    <div id="typing" style="color: black;">Bienvenue chez Christian Développement,
         je suis <span>Développeur</span><br>
        , <span>blogueur</span>
        , <span>youtubeur</span>
         et en fin je suis
         <span>
             freelance
         </span>.</div>
        <div id="crow"> | </div>
</div>
<br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br>
<div class="bouton">
    <a class="nav-item"[routerLink]="['/Article']"><button type="button" class="btn btn-outline-danger btn-lg">ESPACE BLOG</button></a>
    <a class="nav-item"[routerLink]="['/infos']"><button type="button" class="btn btn-outline-danger btn-lg">INFORMATION</button></a>
    <a class="nav-item"[routerLink]="['/contact']"><button type="button" class="btn btn-outline-danger btn-lg">CONTACTE</button></a>
</div>
<div class="reseau">
    <a href="https://www.facebook.com/KRISTALSERVICE2018"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/Christian10114"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/in/master-lipakumu-abb820192/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/kristal_milo_dragnir/"><i class="fab fa-instagram-square"></i></a>
    <a href="https://github.com/Master-Lipakumu"><i class="fab fa-github"></i></a>
</div>
